{%extends 'instagram/base.html'%}
{% load static %}


{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
            <div class="card">
                <div class="mb-2">
                    <img src="{{ object.poster.profile.image.url }}" class="rounded-circle article-img" alt="...">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{object.poster}}</a>
                        <small class="text-muted">{{object.date_posted|date:"F d, Y"}}</small>
                        {% if object.poster == user %}
                            <div>
                                <a class="btn btn-secondary btn-smmt-1 mb-1" href="{% url 'image-update' object.id %}">Update</a>
                                <a class="btn btn-danger btn-smmt-1 mb-1" href="{% url 'image-delete' object.id %}">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <img src="{{ object.img.url }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{object.img_name}}</h5>
                    <p class="card-text">{{object.img_caption}}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a class="mr-2" href="#"><i class="fas fa-comment-alt"></i></a> 
                    <a class="mr-2" href="#"><i class="fas fa-heart"></i><small>100</small></a> 
                    <a class="mr-2" href="#"><i class="fas fa-heart-broken"></i><small>100</small></a> 
                    <a class="mr-2" href="#"><i class="fas fa-copy"></i></a>
                </div>
            </div>
    </div>
    <div class="col-md-2"></div>


        
    <!-- <div class="col-md-4">
        <div class="content-section">
            <div class="jumbotron">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
        </div>
    </div> -->
</div>
</div>

{% endblock content %}
