{%extends 'instagram/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
      <div class="col-md-3">
        {% if images%}
            <h5>Found {{ images|length }} of searched term {{message}}</h5>
        {% else %}
            <h5> Found 0 photos for the search term {{message}}</h5>
        {% endif %}
      </div>
      <div class="col-md-8">
        {% if images %}
            {% for image in images %}
                <div class="card">
                    <div class="mb-2">
                        <img src="{{ image.poster.profile.image.url }}" class="rounded-circle article-img" alt="...">
                        <div class="article-metadata">
                            <a class="mr-2" href="#">{{ image.poster }}</a>
                            <small class="text-muted">{{ image.timestamp|date:"F d, Y" }}</small>
                        </div>
                    </div>
                    <img src="{{ image.img.url }}" class="card-img-top">
                    <div class="card-body">
                        <a class="nav-item nav-link" href="{% url 'image-detail' image.pk %}">{{image.img_name}}</a>
                        <p class="card-text" href="#" >{{image.img_caption}}</p>
                        <a class="nav-item nav-link" href="{% url 'image-detail' image.pk %}">Detail</a>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a class="mr-2" href="#"><i class="fas fa-comment-alt"></i></a> 
                        <a class="mr-2" href="#"><i class="fas fa-heart"></i><small>100</small></a> 
                        <a class="mr-2" href="#"><i class="fas fa-heart-broken"></i><small>100</small></a> 
                        <a class="mr-2" href="#"><i class="fas fa-copy"></i></a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
      </div>
  </div>
</div>
{% endblock %}