{% extends "instagram/base.html" %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
    <h1 class="mb-3">
        Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})
    </h1>
    {% for image in images %}
    <div class="card">
        <div class="mb-2">
            <img src="{{ image.poster.profile.image.url }}" class="rounded-circle article-img" alt="...">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' image.poster.username %}">{{ image.poster }}</a>
                <small class="text-muted">{{ image.date_posted|date:"F d, Y" }}</small>
            </div>
        </div>
        <img src="{{ image.img.url }}" class="card-img-top">
        <div class="card-body">
            <a class="nav-item nav-link" href="{% url 'image-detail' image.pk %}">{{image.img_name}}</a>
            <p class="card-text" href="#" >{{image.img_caption}}</p>
            <a class="nav-item nav-link" href="{% url 'image-detail' image.pk %}">Detail</a>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a class="mr-2" href="#"><i class="fas fa-comment-alt"></i></a> 
            <a class="mr-2" href="#"><i class="fas fa-heart"></i><small>100</small></a> 
            <a class="mr-2" href="#"><i class="fas fa-heart-broken"></i><small>100</small></a> 
            <a class="mr-2" href="#"><i class="fas fa-copy"></i></a>
        </div>
    </div>
        </article>
    {% endfor %}
    </div>
    </div>
    </div>
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number}}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}">Last</a>
        {% endif %}
    {% endif %}
{% endblock content %}